@font-face {
    font-family: 'customFont';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

body {
    font-family: 'customFont', sans-serif;
    background-color: #F3E5D8;
    align-content: center;
    line-height: 1.5rem;
}
h2 {
    color: #e06a46;
}
.recipe-container {
    background-color: #ffff;
    width: 650px;
    height: auto;
    border-radius: 10px;
    padding: 40px;
    margin: auto;
}
.recipe-container img {
    border-radius: 10px;
    height: 300px;
    width: 100%;
}

.prepcontainer {
    padding: 0.5px;
    background-color: #FBFBFB;
    width: auto;
    border-radius: 10px;
}

li { 
    padding-left: 15px;
    margin-bottom: 5px;
}
div h3 {
  padding: 0 20px; 
}
table {
    text-align: left;
  border-collapse: collapse;
}

tr, td  {
  padding: 5.5px 125px; 
  border-bottom: 1px solid rgb(202, 197, 197);
  width: auto;
}

h3 {
    color: #752E4a;
}